<template>
    <div>
        <h2>Carti</h2>
        <div class="card card-body" v-for="carte in carti" v-bind:key="carte.id">
            <h3>{{carte.titlu}}</h3>
            <p>{{carte.autor}}</p>

        </div>

    </div>

<script>
    export default {
        data(){
            return {
                carti: [],
                carte: {
                    id: '',
                    titlu: '',
                    autor: '',
                    pret: '',
                    cantitati: '',
                },
                edit: false
            }
        },
        created() {
            this.fetchCarti();
        },

        methods: {
            fetchCarti(){
                fetch('api/carti')
                    .then(res => res.json())
                    .then(data => {

                        this.carti = res.data;
                    })
            }
        }
    }


</script>



</template>
